In [2]:
import pandas as pd

In [3]:
df_fake = pd.read_csv("Fake.csv")
df_true = pd.read_csv("True.csv")

In [4]:
df_fake.head(10)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017"
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017"
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017"
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017"
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017"

In [5]:
df_true.head(10)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017"
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017"
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017"
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017"

In [6]:
df_fake.shape

(23481, 4)

In [7]:
df_true.shape

(21417, 4)

In [8]:
df_fake["class"]=0

In [9]:
df_true["class"] = 1

In [10]:
df_fake.head()

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [11]:
df_true.head()

,title,text,subject,date,class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [12]:
df_merge_file = pd.concat([df_fake,df_true],axis = 0)#axis=0 row-wise

In [13]:
df_merge_file.head(10)

,title,text,subject,date,class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [14]:
df_merge_file.tail(10)

,title,text,subject,date,class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [15]:
df_merge_file.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [16]:
df_merge_file = df_merge_file.drop(["title","date","subject"],axis = 1)

In [17]:
df_merge_file

                                                    text  class
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
21413  LONDON (Reuters) - LexisNexis, a provider of l...      1
21414  MINSK (Reuters) - In the shadow of disused Sov...      1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[44898 rows x 2 columns]

In [18]:
df_merge_file.isnull().sum()

text     0
class    0
dtype: int64

In [19]:
df = df_merge_file.sample(frac=1)

In [20]:
df

                                                    text  class
686    WASHINGTON (Reuters) - Unease among Republican...      1
19550  Tick tock! Time is running out for Hillary Cli...      0
12309                                                         0
616    There are no two crazy people ever mentioned m...      0
448    One thing is for certain when it comes to Dona...      0
...                                                  ...    ...
21518  THE MOST HATEFUL BLACK MUSLIM MAN IN AMERICA i...      0
14551  Is this Ted Cruz win going to harm Trump s mom...      0
3657   By now, we ve all seen the tweet where Trump s...      0
20794  Wow these are some pretty eye-opening statisti...      0
12408  AMSTERDAM (Reuters) - The Dutch government sai...      1

[44898 rows x 2 columns]

In [21]:
df.reset_index(inplace = True)

In [22]:
df

       index                                               text  class
0        686  WASHINGTON (Reuters) - Unease among Republican...      1
1      19550  Tick tock! Time is running out for Hillary Cli...      0
2      12309                                                         0
3        616  There are no two crazy people ever mentioned m...      0
4        448  One thing is for certain when it comes to Dona...      0
...      ...                                                ...    ...
44893  21518  THE MOST HATEFUL BLACK MUSLIM MAN IN AMERICA i...      0
44894  14551  Is this Ted Cruz win going to harm Trump s mom...      0
44895   3657  By now, we ve all seen the tweet where Trump s...      0
44896  20794  Wow these are some pretty eye-opening statisti...      0
44897  12408  AMSTERDAM (Reuters) - The Dutch government sai...      1

[44898 rows x 3 columns]

In [23]:
df.drop(["index"],axis=1,inplace = True)

In [24]:
df

                                                    text  class
0      WASHINGTON (Reuters) - Unease among Republican...      1
1      Tick tock! Time is running out for Hillary Cli...      0
2                                                             0
3      There are no two crazy people ever mentioned m...      0
4      One thing is for certain when it comes to Dona...      0
...                                                  ...    ...
44893  THE MOST HATEFUL BLACK MUSLIM MAN IN AMERICA i...      0
44894  Is this Ted Cruz win going to harm Trump s mom...      0
44895  By now, we ve all seen the tweet where Trump s...      0
44896  Wow these are some pretty eye-opening statisti...      0
44897  AMSTERDAM (Reuters) - The Dutch government sai...      1

[44898 rows x 2 columns]

In [25]:
import re
import string
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [26]:
def wordopt(text):
    text = text.lower()
    text = re.sub('[^a-zA-Z]', ' ', text)
    text = text.split()
    text = ' '.join(text)
    return text

In [27]:
df["text"].head(10)

0    WASHINGTON (Reuters) - Unease among Republican...
1    Tick tock! Time is running out for Hillary Cli...
2
3    There are no two crazy people ever mentioned m...
4    One thing is for certain when it comes to Dona...
5    The majority of America has been wondering who...
6    Trump spent his second day having a mental bre...
7    When you consider the stunning ways students a...
8    WASHINGTON (Reuters) - U.S. Treasury Secretary...
9    A stunning Melania Trump accompanied President...
Name: text, dtype: object

In [28]:
df["text"] = df["text"].apply(wordopt)

In [29]:
df["text"]

0        washington reuters unease among republicans ab...
1        tick tock time is running out for hillary clin...
2
3        there are no two crazy people ever mentioned m...
4        one thing is for certain when it comes to dona...
                               ...
44893    the most hateful black muslim man in america i...
44894    is this ted cruz win going to harm trump s mom...
44895    by now we ve all seen the tweet where trump sa...
44896    wow these are some pretty eye opening statisti...
44897    amsterdam reuters the dutch government said on...
Name: text, Length: 44898, dtype: object

In [30]:
x = df["text"]
y = df["class"]

In [31]:
x

0        washington reuters unease among republicans ab...
1        tick tock time is running out for hillary clin...
2
3        there are no two crazy people ever mentioned m...
4        one thing is for certain when it comes to dona...
                               ...
44893    the most hateful black muslim man in america i...
44894    is this ted cruz win going to harm trump s mom...
44895    by now we ve all seen the tweet where trump sa...
44896    wow these are some pretty eye opening statisti...
44897    amsterdam reuters the dutch government said on...
Name: text, Length: 44898, dtype: object

In [32]:
y

0        1
1        0
2        0
3        0
4        0
        ..
44893    0
44894    0
44895    0
44896    0
44897    1
Name: class, Length: 44898, dtype: int64

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

In [34]:
cv = CountVectorizer()

In [35]:
x = cv.fit_transform(x)

In [36]:
x

<44898x115465 sparse matrix of type '<class 'numpy.int64'>'
	with 9239107 stored elements in Compressed Sparse Row format>

In [37]:
x.shape

(44898, 115465)

In [38]:
y.shape

(44898,)

In [39]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [40]:
x_train.shape

(33673, 115465)

In [41]:
x_test.shape

(11225, 115465)

In [42]:
y_train.shape

(33673,)

In [43]:
y_test.shape

(11225,)

In [44]:
# from sklearn.naive_bayes import MultinomialNB

In [45]:
# model = MultinomialNB()

In [46]:
# model.fit(x_train,y_train)

In [47]:
# result = model.score(x_test,y_test)*100

In [48]:
# result

In [49]:
# import pickle

In [50]:
# pickle.dump(model,open("fake.pkl","wb"))

In [51]:
# pickle.dump(model,open("true.pkl","wb"))

In [52]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()
LR.fit(x_train,y_train)

C:\Users\034gu\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [53]:
pred = LR.predict(x_test)

In [54]:
LR.score(x_test,y_test)

0.9965256124721603

In [58]:
def output_lable(n):
    if n == 0:
        return "Fake News"
    elif n == 1:
        return "True news"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = cv.transform(new_x_test)
    pred = LR.predict(new_xv_test)

    return print("\n\nLR Prediction: {} \n".format(output_lable(pred[0])))

In [60]:
news = str(input())
manual_testing(news)

WASHINGTON (Reuters) - Senator Lisa Murkowski, an Alaska Republican, won a decades-long battle on Wednesday to open part of an Arctic wildlife reserve in her state to oil and gas drilling, but Democratic senators and conservationists vow the war has only begun.  The tax bill passed by Congress contains language pushed by Murkowski and supported by President Donald Trump to hold two lease sales in the 1.5 million-acre (600,000-hectare) 1002 area on the northern coastal plain of the Arctic National Wildlife Refuge, or ANWR.  Democrats and environmentalists deplore the prospect of development in ANWR, home to polar and grizzly bears, 200 species of birds, and where Gwichâ€™in natives depend on migrating herds of porcupine caribou.  Senator Maria Cantwell, a Democrat, said the fight over the drilling was not over. â€œIn fact I would say today is the beginning,â€ said Cantwell adding that Democrats would make sure the Trump administration follows all environmental laws before allowing drilling. Murkowski said ANWR oil would provide jobs, reduce U.S. imports of crude and help fill the Trans-Alaska Pipeline, a source of oil for the U.S. West Coast. The pipeline is now operating at a quarter of its capacity, after Alaskan production slumped in recent years.  Trump, expected to quickly sign the tax bill into law, said he had not been aware that fellow Republican politicians had long been trying to get at the oil in ANWR.  â€œA friend of mine who is in the oil business said: â€˜I canâ€™t believe it. ANWR. Theyâ€™ve been trying get it for 40 years,â€™â€ Trump said at the start of a Cabinet meeting. Trump said opening ANWR, a move supported by some members of the native IÃ±upiat tribe, would put the country, already the worldâ€™s top oil and natural gas producer, at a new level. But environmentalists said there were many stages, such as applications by companies to conduct seismic tests in the refuge, at which they could block drillers with lawsuits over endangered species and other environmental laws.  Suzanne Bostrom, a lawyer at Trustees for Alaska, a nonprofit environmental law firm, said opponents would scrutinize applications by energy companies for exploration, development, leasing and oil and gas production. â€œWe will be working every step of the way to make sure that the coastal plain is protected,â€ said Bostrom. The Interior Department will carry out environmental reviews of the lease sales, one to be held within four years and another within seven years, that opponents will track.  Environmental lawyers have had success in stopping drilling in the harsh and frigid Arctic. In 2015, Royal Dutch Shell ended a $7 billion quest to find oil offshore Alaska partly because environmental groups uncovered a little-known law that limited the number of drilling wells. Analysts at British bank Barclays said environmentalists could delay the lease sales and project approvals and â€œmay discourage investmentâ€ entirely. Still, the bank said if new surveys show promising ANWR deposits, the region could attract producers that drill in frontier regions in Latin America and the Middle East. Senator Edward Markey, a longtime opponent of Arctic drilling, said the Republican tactic of including the drilling in a bill that only needed 50 votes in the Senate could backfire and help Democrats pick up seats in the 2018 congressional elections. Nobody knows how much oil the refuge contains, but the U.S. Geological Survey estimated in 1998 that the 1002 area held about 10.4 billion barrels of recoverable crude.  But a global oil glut that has kept domestic oil prices at levels below $60 a barrel may prevent wide success in ANWR. In a lease sale this month for land in Arctic Alaska, less than 1 percent of the 10.3 million acres (4.2 million hectares) received bids from oil companies.


LR Prediction: True news